{% extends 'base.html' %}
{% block title %}Opis projektu{% endblock %}
{% block content %}



			<ul class="list-group list-group-flush">
				<li class="list-group-item bg-dark text-light h3">
					Cel aplikacji
					<ul class="list-group-flush">
						<li class="list-group-item bg-dark text-light h5">
							Aplikacja ma na celu pobieranie opini i innych danych o wybranym
							produkcie oraz wyświetlanie i analizowanie danych zebranych za
							pomocą różnych bibliotek Python'a.
						</li>
					</ul>
				</li>
				<li class="list-group-item bg-dark text-light h3">
					Opis działania aplikacji
					<ul class="list-group-flush">
						<li class="list-group-item bg-dark text-light h5">
							Aplikacja została podzielona na kilka podstron:
							<ul>
								<li>Strona główna</li>
								<li>Lista produktów</li>
								<li>Ekstrakcja opinii</li>
								<li>O autorze</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="list-group-item bg-dark text-light h3">
					Zastosowane biblioteki
					<ul class="list-group-flush">
						<li class="list-group-item bg-dark text-light h5">
							<ul>
								<li>Flask</li>
								<li>Requests</li>
								<li>...</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="list-group-item bg-dark text-light h3">
					Zastosowane podejście
					<ul class="list-group-flush">
						<li class="list-group-item bg-dark text-light h5">
							W tym projekcie zostało zastosowane podejście, aby zrobic go i zdobyć jak najlepszą ocenę z zajęć.
						</li>
					</ul>
				</li>
			</ul>

{% endblock %}