{% extends 'base.html' %}
{% block title %}Test{% endblock %}
{% block content %}

			<p class="text-light">Sortuj po wybranej kolumnie, klikając w nagłówej kolumny</p>
				<div class="d-flex justify-content-between">

					<!-- <div class="btn-group btn-group-toggle float-left" data-toggle="buttons">
						<label class="btn btn-secondary">
						<input type="radio" name="options" id="option1" autocomplete="off" class="btn-check"> Malejąco
						</label>
						<label class="btn btn-secondary">
						<input type="radio" name="options" id="option2" autocomplete="off" class="btn-check"> Rosnąco
						</label>
					</div> -->

					<div class="text-light float-right">
						<a href="../../opinions/96177943.json" download><button type="button" class="btn btn-primary mx-1">Pobierz json</button></a>
						<a href="plots.html" ><button type="button" class="btn btn-primary mx-1">Wykresy</button></a>
					</div>

				</div>
			<!-- <h3>{{product_code}}</h3>	 -->
			<table id="opinions-table" class="table table-hover table-dark table-striped">
				<thead>
				  <tr>
					<th role="button" scope="col" id="id">ID</th>
					<th role="button" scope="col" id="autor">Autor</th>
					<th role="button" scope="col" id="reccomendation">Rekomendacja</th>
					<th role="button" scope="col" id="score">Wynik</th>
					<th role="button" scope="col" id="purchased">Transakcja</th>
					<th role="button" scope="col" id="published-at">Opublikowano</th>
					<th role="button" scope="col" id="purchased-at">Zakupiono</th>
					<th role="button" scope="col" id="thumbs-up">Polubione</th>
					<th role="button" scope="col" id="thumbs-down">Niepolubione</th>
					<th role="button" scope="col" id="content">Treść opinii</th>
					<th role="button" scope="col" id="pros">Zalety</th>
					<th role="button" scope="col" id="cons">Wady</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td>1</td>
					<td>jan</td>
					<td>Polecam</td>
					<td>4,6</td>
					<td>tek..</td>
					<td>22.10.2012</td>
					<td>23.10.2012</td>
					<td>4</td>
					<td>2</td>
					<td>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem totam nisi nemo neque, ea vel non, consequuntur delectus dolore dolorem temporibus sapiente minima velit, ab quis illo consequatur suscipit. Alias!</td>
					<td>
						<ul>
							<li>git</li>
							<li>spk</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>niegit</li>
							<li>niespk</li>
						</ul>
					</td>
				  </tr>
				</tbody>
			  </table>

		</div>
{% endblock %}	
{% block script %}
	<script src="../../opinions/mockup.js"></script>
	<script>
		
		// wczytywanie danych mockup na strone

		// const opinionsTable = document.querySelector("#opinions-table > tbody")
		// data_mockup.forEach(opinion => {

		// 	pros_list=""
		// 	if (opinion.pros.length > 0){
		// 		opinion.pros.forEach(el=>{
		// 			console.log(el)
		// 			pros_list+="<li>"+el+"</li>"
		// 		})
		// 	}

		// 	cons_list=""
		// 	if (opinion.cons.length > 0){
		// 		opinion.cons.forEach(el=>{
		// 			console.log(el)
		// 			cons_list+="<li>"+el+"</li>"
		// 		})
		// 	}
		// 	console.log(pros_list)
		// 	opinionsTable.innerHTML +=`<tr>
		// 			<td>${opinion.opinion_id}</td>
		// 			<td>${opinion.author}</td>
		// 			<td>${opinion.recommendation}</td>
		// 			<td>${opinion.score}</td>
		// 			<td>${opinion.purchased}</td>
		// 			<td>${opinion.published_at}</td>
		// 			<td>${opinion.purchased_at}</td>
		// 			<td>${opinion.thumbs_up}</td>
		// 			<td>${opinion.thumbs_down}</td>
		// 			<td>${opinion.content}</td>
		// 			<td>
		// 				<ul>
		// 					${pros_list}
		// 				</ul>
		// 			</td>
		// 			<td>
		// 				<ul>
		// 					${cons_list}
		// 				</ul>
		// 			</td>
		// 		  </tr>`
		// 	});


			$(document).ready( function () {
				$('#opinions-table').DataTable({
					data : data_mockup,
					// 'ajax' : '../../opinions/96177943.json',
					'columns' : [
						{'data' : 'id'},
						{'data' : 'ids'},
						{'data' : 'idds'},
						{'data' : 'idff'},
						{'data' : 'idgf4ds'},
						{'data' : 'ids3dg'},
						{'data' : 'ids2dg'},
						{'data' : 'idsdaasdsag'},
						{'data' : 'idssaggdg'},
						{'data' : 'idsfasfdg'},
						{'data' : 'iasddsdg'},
						{'data' : 'iasds'}
					]
				})
			} )


	</script>
{% endblock %}	