{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}

<p class="mt-2">
	<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
		aria-expanded="false" aria-controls="collapseExample">
		Wykresy
	</button>
	<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2"
		aria-expanded="false" aria-controls="collapseExample">
		Pobierz plik
	</button>

<div class="collapse mb-4" id="collapse1">
	<div class="card card-body bg-dark d-flex justify-content-around flex-row flex-wrap">
		<div class="w-50 text-center font-weight-bold p-1">Wykres kołowy</div>
		<div class="w-50 text-center font-weight-bold p-1">Wykres słupkowy</div>
		<img class="w-50 p-2" src="{{ url_for('static', filename='./plots/'+product_code+'_recommendation.png')}}"
			alt="wykres kołowy" />
		<img class="w-50 p-2" src="{{ url_for('static', filename='./plots/'+product_code+'_score.png')}}"
			alt="wykres słupkowy" />
	</div>
</div>
<div class="collapse mb-4" id="collapse2">
	<div class="card card-body bg-dark d-flex flex-row">
		<a href="{{ url_for('static', filename='./opinions/'+product_code+'.json')}}" download><button type="button"
				class="btn btn-primary mx-1">Pobierz json</button></a>
		<a href="{{ url_for('static', filename='./opinions/'+product_code+'.xlsx')}}" download><button type="button"
				class="btn btn-primary mx-1">Pobierz xlsx</button></a>
		<a href="{{ url_for('static', filename='./opinions/'+product_code+'.csv')}}" download><button type="button"
				class="btn btn-primary mx-1">Pobierz csv</button></a>
	</div>
</div>

<table id="opinions-table" class="table table-hover table-dark table-striped">
	<thead>
		<tr>
			<th role="button" scope="col" id="id">ID</th>
			<th role="button" scope="col" id="autor">Autor</th>
			<th role="button" scope="col" id="reccomendation">Rekomendacja</th>
			<th role="button" scope="col" id="score">Wynik</th>
			<th role="button" scope="col" id="purchased">Transakcja</th>
			<th role="button" scope="col" id="published-at">Opublikowano</th>
			<th role="button" scope="col" id="purchased-at">Zakupiono</th>
			<th role="button" scope="col" id="thumbs-up">Polubione</th>
			<th role="button" scope="col" id="thumbs-down">Niepolubione</th>
			<th role="button" scope="col" id="content">Treść opinii</th>
			<th role="button" scope="col" id="pros">Zalety</th>
			<th role="button" scope="col" id="cons">Wady</th>
		</tr>
	</thead>
	<tbody>
		{% for opinion in opinions_list %}
		<tr>
			<td>{{opinion.opinion_id}}</td>
			<td>{{opinion.author}}</td>
			<td>{{opinion.recommendation}}</td>
			<td>{{opinion.score}}</td>
			<td>{{opinion.purchased}}</td>
			<td>{{opinion.published_at}}</td>
			<td>{{opinion.purchased_at}}</td>
			<td>{{opinion.thumbs_up}}</td>
			<td>{{opinion.thumbs_down}}</td>
			<td>{{opinion.content}}</td>
			<td>
				<ul>
					{% for pro in opinion.pros %}
					<li>
						{{pro}}
					</li>
					{% endfor %}
				</ul>
			</td>
			<td>
				<ul>
					{% for con in opinion.cons %}
					<li>
						{{con}}
					</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

</div>
{% endblock %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
	crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script>

	$(document).ready(function () {
		$('#opinions-table').DataTable({
			// DataTable initialization options here
			columns: [
				{ data: 'opinion_id' },
				{ data: 'author' },
				{ data: 'recommendation' },
				{ data: 'score' },
				{ data: 'purchased' },
				{ data: 'published_at' },
				{ data: 'purchased_at' },
				{ data: 'thumbs_up' },
				{ data: 'thumbs_down' },
				{ data: 'content' },
				{ data: 'pros' },
				{ data: 'cons' }
			],
			order: [[0, 'asc']],
			paging: true,
			lengthMenu: [10, 25, 50],
		});
	});
</script>
{% endblock %}